*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    height: 4rem;
    background-color: #e0bad7;
    line-height: 4rem;
    color: #2a4747;
}

.choices{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    gap: 2rem;
}

.choice:hover {
    opacity: 0.8;
    cursor: pointer;
    background-color: #2a4747;
}

.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

#msg {
    background-color: #142323;
    display: inline;
    font-size: 2rem;
    color: white;
    border-radius: 1rem;
    padding: 1rem;
}

.msg-container{
    margin-top: 3rem;
    border-radius: 1rem;
}

.score-board{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    gap: 3rem;
    margin-top: 4rem;
}

#user-score, #comp-score, #draw-score{
    font-size: 4rem;
}